.piece {
    white-space: pre;
    background-color: #55aaee;
    border-radius: 0.5em;
    padding: 0.2em;
    padding-right: 1em;
    padding-bottom: 2em;
    position: absolute;
    -moz-user-select: none;
    font-size: 3em;
    font-family: monospace;
}

.text {
    background-color: #99bbdd;
    border-radius: 0.5em;
}

@keyframes ping {
    form {
        background-color: #55aaee;
    }
    to {
        background-color: #3377aa;
    }
}

.ping {
    animation-duration: 0.3s;
    animation-name: ping;
    animation-direction: alternate;
}
